@use "./base/base";
@use "./base/reset";
@use "./global" as *;
.fv {
  padding: 80px 80px 0;
  @include mq("md") {
    padding: 15px 15px 0;
  }
}

.fv__img {
  background-image: url(../images/fv-img.jpg);
  background-size: contain;
  aspect-ratio: 1280/630;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq("md") {
    background-image: url(../images/fv-img-sp.jpg);
    aspect-ratio: 345/475;
    background-size: cover;
  }
}

.fv__title {
  font-size: 60px;
  color: $white;
  @include mq("md") {
    font-size: 40px;
  }
}
.about {
  margin: 100px 0 135px;
}

.about__inner {
  width: calc(round(1000 / 1440 * 100%, 0.1%));
  margin-inline: auto;
}

.about__title {
  text-align: center;
}

.about__title-main {
  font-size: 36px;
  font-weight: $bold;
  color: $black;
}

.about__title-sub {
  margin-top: 10px;
  font-size: 16px;
  color: $black;
}

.about__img {
  margin-top: 44px;
  height: auto;
}
.about__text {
  margin-top: 40px;
  font-size: 18px;
  color: $black;
  line-height: calc(36 / 18);
}
